
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}
section img{
    width: 300px;
    height: 300px;
}
.designers img{
    width: 9%;
    height: 10%;
}
.comments img{
    width: 23%;
    height: 50%;
    object-fit: cover;
}
.godtime{
    width: 25%;
    height: 50%;
}

